{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <link href="{% static 'home/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/500d9c8f15.js" crossorigin="anonymous"></script>
    </head>
    <body class="base">

        <nav>
            <div class="nav-left">
                <img src="{% static 'home/mku.png' %}" class="logo" width="">
                <h4 style="color: white; font-size:18px;">MKUchat</h4>
                <ul>
                    <li>
                        <img src="{% static 'home/notification.png' %}">
                        <img src="{% static 'home/inbox.png' %}">
                        <img src="{% static 'home/videoo.png' %}">
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <div class="search-box">
                    <img src="{% static 'home/search.png' %}">
                    <input type="text" placeholder="Search">
                </div>
                <div class="nav-user-icon online">
                    <img src="{% static 'home/profile-pic.jpg' %}">
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>