{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="{% static 'home/styles2.css' %}" rel="stylesheet">
  </head>
  <body class="login-signup">
    <div class="main">  	
      <input type="checkbox" id="chk" aria-hidden="true">
          {% if message %}
              <div class="message">{{ message }}</div>
           {% endif %}
  
        <div class="signup">

          <form action="{% url 'users:index' %}" method="post">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password1" placeholder="Password" required="">
            <input type="password" name="password2" placeholder="Confirm Password" required="">
            <button>Sign up</button>
          </form>
        </div>
  
        <div class="login">

          <form action="{% url 'users:loginpage' %}" method="post">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="User name" id="username">
            <input type="password" name="password" placeholder="Password" id="password">
            <button>Login</button>
          </form>
        </div>
    </div>
  </body>
</html>
